<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Scout</title>
<link rel="icon" type="image/ico" href="../../images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
<link rel="image_src" type="image/png" href="../../images/placeholder.png"/>
<link type="image/png" rel="image_src" href="logo.png" >
</head>

<body>
<div id= "container">
<div id="header">
	<h1>
		<%=link_to "Scout", '/member' %> </h1>
<div id="navigation">
	<div class="signin"> 
	<%=link_to image_tag("signout.png", :border => 0), destroy_member_session_path, :method => :delete %>
			</div> </div> </div> 
					
<h1> Application Process </h1>
<h2> If you'd like to take it manually, please click <%=link_to "here.", '/manual' %> </h2 </h2>
</br>

<fieldset>
<form action="#">
<p><label for="name" class="hi">First Name</label> <input type="text" id="name" /></p>
<p><label for="name" class="hi">Middle Name</label> <input type="text" id="name" /></p>
<p><label for="name" class="hi">Last Name</label> <input type="text" id="name" /></p>
<p><label for="e-mail" class="hi">Social Security Number</label> <input type="password" id="ssn" /></p>
<p><label for="e-mail" class="hi">Re-enter Social Security Number</label> <input type="password" id="ssn" /></p>
<p><label for="e-mail" class="hi">Birthdate</label> <input type="text" id="e-mail" /></p>
<p><label for="e-mail" class="hi">Street Address</label> <input type="text" id="e-mail" /></p>
<p><label for="e-mail" class="hi">City</label> <input type="text" id="e-mail" /></p>
<p><label for="e-mail" class="hi">State</label> <form action=""><select name="state">
<option selected value="">State...</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="HI">Hawaii</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="IA">Iowa</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="LA">Louisiana</option>
<option value="ME">Maine</option>
<option value="MD">Maryland</option>
<option value="MA">Massachusetts</option>
<option value="MI">Michigan</option>
<option value="MN">Minnesota</option>
<option value="MS">Mississippi</option>
<option value="MO">Missouri</option>
<option value="MT">Montana</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NY">New York</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="PA">Pennsylvania</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VT">Vermont</option>
<option value="VA">Virginia</option>
<option value="WA">Washington</option>
<option value="WV">West Virginia</option>
<option value="WI">Wisconsin</option>
<option value="WY">Wyoming</option>
</select></form></p>
</form>

<p><label for="name" class="hi">Authorization</label> <div style="height:100px;width:500px;border:1px solid #ccc;font:10px Helvetica, Garamond, Serif;overflow:auto;">
	By accepting these Terms of Use, each User/Provider represents and warrants to Scout the following: </br></br>
	1.     You will use Scout only to compile a Portfolio for Yourself and for no other party. </br></br>
	2.     Scout assists You in compiling Your Portfolio for Your purposes.  Scout is not acting as an agent for any other party nor is it acting as a consumer reporting agency.  </br></br>
	3.     You choose, in Your sole discretion, Your authorized User/Viewers and the purposes for which Your authorized User/Viewers may access Your Portfolio.   </br></br>
	4.     You understand that authorized User/Viewers will be able to view information You may view as private or find embarrassing.   </br></br>
	5.     You waive Your right of privacy as it relates to Your authorized User/Viewers having access to any information contained in Your Portfolio at any time during Your use of Scout, even if the information posted on Your Portfolio is being investigated after Your notice to Scout of an error or discrepancy in Your Portfolio. Without limiting the foregoing, You acknowledge that Your authorized User/Viewers will have access to information that might otherwise be considered or be protected as private information, e.g., medical information stored in Your Portfolio. </br></br>
	6.     You acknowledge that a Background Screening Report, if furnished, may contain inaccuracies.  You have been advised to review each element of Your Background Screening Report as soon as it is made available in Your Portfolio. All disputes must be documented in writing and sent, within five business days after discovery, or ten business days after the disputed information is made available in Your Portfolio, whichever is earlier, to the address or E-mail address below:</br></br>
</div> 
<p><label for="name" class="hi">&nbsp </label> <input type="checkbox"> I agree with Scout's Privacy Policy and Terms of Use</p>
</form> 
</fieldset>
</br></br><center> <div class="process">
<%= link_to "Complete", '/congratulations'%></span> </center>

		
</br><div id="footer" > 
		contact@heyscout.com <span> &copy 2013</span> </div>
</div>
</body>
</html>
